<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="ncStore">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>NC Store</title>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="libs/bootstrap/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js"></script>
  <!-- Angular -->
  <script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<!-- Custom -->
  <script type="text/javascript" src="app.module.js"></script>
  <script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body ng-controller="StoreControl">

<div class="header container">
	<h1 class="site-title">NC Store</h1>
	<h2 class="site-description">Product of Nghich Code</h2>
</div>
<div class="menu container">
  <ul class="nav nav-tabs">
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="advanced-search.html">Advanced Search</a></li>
        <li><a href="all-products.html">All Products</a></li>
      </ul>
    </li>
    <li><a href="add-product.html">Add Product</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</div>

<div class="container">
<div class="row">
  <div class="col-xs-12 text-center" style="margin: 20px 0;padding: 0 40px;">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="Search" ng-model="searchItem" />
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    </div>
  </div>

  <div class="col-xs-12">
    <div ng-repeat="product in products | filter:searchItem" class="col-xs-6 col-sm-4 col-md-3">
      <div class="thumbnail" style="min-height:300px">
        <div class="bg-thumdb" style="text-align: center;padding: 6% 0;height:80px;">
          <div class="roundDiv clear-both">
            <span class="h1" style="">{{product.rChar}}</span>
          </div>
        </div>
        <div class="caption">
          <p style="margin:0">Price: <span>{{product.price | number}} vnđ</span></p>
          <small>QR: <span>{{product.qrCode}}</span></small><br/>
          <small>Tên gọi: <span>{{product.commonName}}.</span></small><br/>
          <small>Tên chính xác: <span>{{product.itemName}}.</span></small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div ng-repeat="product in products | filter:searchItem" class="col-xs-6 col-sm-4 col-md-3">
      <div class="thumbnail" style="min-height:300px">
        <div class="bg-thumdb" style="text-align: center;padding: 6% 0;height:80px;">
          <div class="roundDiv clear-both">
            <span class="h1" style="">{{product.rChar}}</span>
          </div>
        </div>
        <div class="caption">
          <p style="margin:0">Price: <span>{{product.price | number}} vnđ</span></p>
          <small>QR: <span>{{product.qrCode}}</span></small><br/>
          <small>Tên gọi: <span>{{product.commonName}}.</span></small><br/>
          <small>Tên chính xác: <span>{{product.itemName}}.</span></small>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<div class="footer clear-both">
	<div class="social-links">
		<ul>
			<li class="badge"><a target="_blank" href="https://facebook.com/kenghichcode">Facebook</a></li>
			<li class="badge"><a target="_blank" href="https://facebook.com/kenghichcode">Twitter</a></li>
			<li class="badge"><a target="_blank" href="https://facebook.com/kenghichcode">Gmail</a></li>
		</ul>
	</div>
	<div class="site-info">
		<span>Coppy &copy 2019 NghichCode All Rights Reserved</span>
	</div>
</div>
</body>
</html>